.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-to-previous-page {
  height: 64px;
  background: inherit;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
  padding-left: 24px;
  padding-right: 24px;
  @include media-breakpoint-up(lg) {
    display: none;
  }
}
.back-to-home {
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
    margin-left: 89px;
  }
}
