.map {
  width: 100%;
  height: 100%;
  position: relative;
}

.current-location {
  position: absolute;
  bottom: 7.5%;
  right: 16px;
  background: transparent;
  transform: translate(0%, 50%);
  z-index: 500;
}
