.switcher-in-desktop {
  display: none;
  @include media-breakpoint-up(lg) {
    position: absolute;
    left: 50%;
    transform: translateX(calc(100% - 245px - 89px));
    display: flex;
    height: 42px;
  }
}
.switcher-in-mobile-and-tablet {
  display: flex;
  flex-grow: 1;
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.switcher {
  display: flex;
  flex-grow: 1;
  @include media-breakpoint-up(lg) {
    height: 100%;
    width: 276px;
    margin-left: -50%;
    background-color: #ffffff;
    border-radius: 50px;
  }
}

.switcher-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  @include media-breakpoint-up(lg) {
    width: 51%;
    background-color: #ffffff;
    border-radius: 50px;
  }
  p {
    margin-left: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 64px;
    letter-spacing: 1em;
  }
}

.focus-type {
  color: #ffffff;
}
.focus-icon-rent {
  path {
    fill: #ffffff;
  }
}
.focus-icon-parking {
  path {
    fill: $yellow;
  }
  rect {
    fill: white;
  }
}
@include media-breakpoint-up(lg) {
  .focus-type {
    color: $yellow;
    background-color: #000000;
  }
  .focus-icon-rent {
    path {
      fill: $yellow;
    }
  }
  .focus-icon-parking {
    path {
      fill: #000000;
    }
    rect {
      fill: $yellow;
    }
  }
}
